.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body{
  background-image: linear-gradient(blue, green, #edc9af);
  background-repeat: no-repeat;
  height: 800px;
  
}

input{
  height: 50px;
  width: 300px;
  font-size:large;
  border-radius: 5px;
  border: 1px solid grey;
  box-shadow: 2px 2px 2px;
}
.red{
  color: antiquewhite;
  background-image: linear-gradient(red, #814617);
  border-radius: 15px;
}
.orange{
  color: #0a1195;
  background-image: linear-gradient(orange, #cc5500);
  border-radius: 15px;
}
.yellow{
  color: #00703c;
  background-image: linear-gradient(yellow, #daa520);
  border-radius: 15px;
}
.green{
  color: beige;
  background-image: linear-gradient(#65ff00, green);
  border-radius: 15px;
}
.blue{
  color: antiquewhite;
  background-image: linear-gradient(#0048ba, blue);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin: 10px;
  border-radius: 15px;
  height: 300px;
  width: 300px;
  
}
.indigo{
  color: antiquewhite;
  background-image: linear-gradient(#360ccc, #4b0082);
  border-radius: 15px;
}
.purple{
  color: antiquewhite;
  background-image: linear-gradient(purple, #512888);
  border-radius: 15px;
}
.beach{
  color: antiquewhite;
  background-image: linear-gradient(#0078d7, antiquewhite);
  border-radius: 15px;
}
.desert{
  color: antiquewhite;
  background-image: linear-gradient(blue, green, #edc9af);
  border-radius: 15px;
}
.ou{
  background-image: linear-gradient(#841617, #ffffbf);
  height: 200px;
  margin: 20px;
  border-radius: 15px;
}

.ou1{
  background-image: linear-gradient(#ffffbf, #841617);
  height: 200px;
  margin: 20px;
  border-radius: 15px;
}
.redbtn{
  color: antiquewhite;
  background-image: linear-gradient(red, darkred);
  border-radius: 5px;
  font-size: 20px;
  border-color: red;
}
.orangebtn{
  color: antiquewhite;
  background-image: linear-gradient(orange, darkorange);
  border-radius: 5px;
  font-size: 20px;
  border-color: orange;
}
.yellowbtn{
  color: black;
  background-image: linear-gradient(yellow, goldenrod);
  border-radius: 5px;
  font-size: 20px;
  border-color: yellow;
  margin: 15px;
}
.greenbtn{
  color: antiquewhite;
  background-image: linear-gradient(#32cd32, forestgreen);
  border-radius: 5px;
  font-size: 20px;
  border-color: #32cd32;
  margin: 15px;
  padding: 10px;
}
.bluebtn{
  color: antiquewhite;
  background-image: linear-gradient(#0048ba, blue);
  border-radius: 5px;
  font-size: 20px;
  border-color: #0048ba;
}
.purplebtn{
  color: antiquewhite;
  background-image: linear-gradient(#512888, #360888);
  border-radius: 5px;
  font-size: 20px;
  border-color: #512888;
}
